<%- include('../partials/header',{title:'Signup', page: 'signup'}); -%>
<%- include('../partials/navbar', { isLoggedIn: false, page: 'signup' }) -%> 

<section class="authentication">
	<div class='sign-up'>
	  <h2 class='title'>I don't have an Account</h2>
	  <span>Sign up with your email and password</span>

	  <form action="" method="POST">
		<small class="error" id="signup-error"></small>
		<div class="group">
		  <input placeholder="Full Name" class="form-input" id="signup-fname" type="text" name="fullname" required>
		</div>
		<div class="group">
		  <input class="form-input" placeholder="User Name" id="signup-dname" type="text" name="username" required>
		</div>
		<div class="group">
		  <input class="form-input" placeholder="Email" id="signup-email" type="email" name="email" required>
		</div>
		<div class="group">
		  <input class="form-input" placeholder="Password" id="signup-password" type="password" name="password" required>
		</div>
		<div class="group">
		  <input class="form-input" placeholder="Confirm Password" id="signup-e-password" type="password" name="cpassword" required>
		</div>
		<button type="submit" class="custom-button" id="signup-button">Sign Up</button>
		<% if(typeof msg != 'undefined' && msg != ""){ %>
			<div class="col-12">
				<div class="success-msg">
					<%= msg %>
				</div>									
			</div>
		<% } if(typeof error !== 'undefined' && error != "") { %>
			<div class="col-12">
				<div class="err-msg">
					<%= error %>
				</div>									
			</div>
		<% } %>
	  </form>
	</div>    
  </section>

<%- include('../partials/footer'); -%>