
<%- include('../partials/header', {page: "Display page"}); -%>
<%- include('../partials/navbar', {isLoggedIn: session.userID ? true : false, page: 'display page', imagePath: session.imagePath || "images/uploads/default_profile.png"}) -%> 

<div class="container">
	<div class="card">
		<% if(typeof msg !='undefined' && msg !="" ) { %>
			<div class="col-12">
				<div class="success-msg"><%= msg %></div>
			</div>
		<% } %>

		<div class="card-body">
			<form action="" method="POST">
				<div class="row">
					<div class="col-12 mb-3">
						<label for="blog"> &nbsp; &nbsp; Sort by: </label>
						<select style="margin-left: 10px; width: 250px;" name="sortBy"
						class="form-control" name="blog">
							<option value="">none</option>
							<option value="blogName">Title</option>
							<option value="Content">Article content</option>
							<option value=" blogName desc">Title desc</option>
						</select>

						<input type="text" name="filter_Key" style="margin-left: 50px; width: 350px;"
						id="filter-Key" Placeholder="Enter writer name ">

						<input type="submit" value="Filter" style="display: inline-block; width: 100px; padding: 5px 10px;  
						background-color: rgb(71, 67, 67);	text-align: center;">
					</div>
				</div>
			</form>
		</div>
		<div style="min-height: 75vh;">
			<h1>Searched Results </h1>

			
			<% if(data.length> 0) {
				data.forEach((article, idx) => { %>
					<div class="blog-card">
						<div class="blog-card-container">
							<div class="image-container">
								<img class="card-image" src="<%= imagePath[idx].blogImage %>" alt="Article Image">
							</div>
							<div class="blog-details">
								<a href="<%= imagePath[idx].href %>" class="link">
									<h1 class="blog-header"><%= article.blogName %></h1>
									<p class="blog-description"><%= article.description %></p>
								</a>
								<div class="blog-info">
									<span class="blog-date"><%= article.createdAt %></span>
									<div class="blog-options">
										<div class="blog-writer">
											<span><%= article.Category %></span>
										</div>
										<i class="fa-solid fa-bookmark"></i>
										<i class="fa-solid fa-ellipsis"></i>
									</div>
								</div>
							</div>   
						</div>
					</div>
			<% })} else {%>
				<h2>No Data Found</h2>
			<% } %>
		</div>
	</div>
	<div class="break"></div>
	<!-- Display the links to the pages  -->
	<% if(page> 1) { %> 
		<a href="/?page=<%=page-1%>">before</a>
	<% }
	for(let i=iterator; i<=endinglink; i++){ 
		if( i===page) { %>
			<a class="selectedLink" href="/?page=<%=i%>"> <%=i%> </a>
			<% continue; 
		} %>
		
		<a href="/?page=<%=i%>"> <%=i%> </a>
	<% }
	if(page < numberOfPages){ %> 
		<a href="/?page=<%=page+1%>">After</a>
	<% } %>
</div>

<%- include('../partials/footer'); -%>